@import "../../../../public/scss/base/mixins";
.input {
    padding: rem(10);
    border-radius: 5px;
    border: 1px solid #a1a1a1;
    background: #fefeff;
    width: 100%;
    &::placeholder {
        color: #b6b6bb;
    }
    &--checkbox {
        width: 25px;
        height: 25px;
        margin-left: 4px;
        margin-right: 2px;
    }
    &--radio {
        width: 16px;
        height: 16px;
        margin-top: 0;
        margin-right: 2px;
        accent-color: #5e66a7;
    }
}
