@import "./scss/style";
.btn {
    border: 2px solid #5e66a7;
    color: #5e66a7;
    line-height: 1.25;
    &--bg-blue {
        background: #5e66a7;
        color: #fefeff;
    }
    &--full {
        width: 100%;
    }
    &--text {
        padding: 8px 19px;
        border-radius: 100px;
    }
    &--icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 6px;
    }
    &:disabled {
        opacity: 0.8;
    }
}
.select-lang {
    position: relative;
    padding-right: 24.5px;
    color: #a1a1a1;
    line-height: 1.3;
    z-index: 10;
    &::after {
        content: url("../public/img/arrow-bottom.svg");
        position: absolute;
        right: 0;
        top: -3px;
        padding-right: 6.25px;
    }
}
.extend {
    text-align: right;
    font-size: rem(14);
    line-height: 1.1;
    @media (max-width: $mobileSmall) {
        text-align: left;
        margin-top: 10px;
    }
}
.link {
    color: #5e66a7;
    font-size: rem(14);
    line-height: 1.1;
    &--forget {
        margin-top: 5px;
        margin-bottom: 20px;
        text-align: right;
    }
}
.agreement {
    display: flex;
    justify-content: flex-start;
    margin-top: rem(20);
    margin-bottom: rem(20);
    color: #161618;
}
.form {
    padding: rem(50);
    max-width: rem(480);
    min-height: rem(520);
    width: 100%;
    box-shadow: 3px 12px 24px 0px rgba(129, 137, 197, 0.2);
    @media (max-width: $mobile) {
        min-width: 0;
        box-shadow: none;
    }
    &__title {
        color: #161618;
        font-family: Montserrat;
        font-size: rem(24);
        line-height: 1.2;
        text-align: center;
    }
    &__element {
        margin-top: rem(20);
    }
    &__error {
        color: #ff3333;
    }
}
.custom-select {
    &__value-container {
        cursor: text;
        font-size: rem(15);
    }
    &__placeholder {
        color: #161618 !important;
    }
    &__indicator-separator {
        display: none !important;
    }

    &__indicators {
        cursor: pointer !important;
    }

    &__indicator {
        color: #161618 !important;
        padding-right: 10px !important;

        &:hover {
            color: #161618 !important;
        }
    }
    &__control {
        border: 1px solid #161618 !important;
    }
    &__value-container {
        padding: 7.4px 10px !important;
    }
}
