@use "sass:math";
// Подключение миксинов
// @import "base";
@import "base/mixins";

// Подключение шрифтов
//&display=swap - добавить при подключении через плагин
@import "base/fonts";

// Шрифт по умолчанию
$fontFamily: "Rubik";
$fontSize: rem(16); // где 14(px) - размер шрифта по умолчанию из макета

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Основной цвет шрифта
$mainColor: #000000;

// Обнуление и общие параметры
@import "base/null";

body {
	color: $mainColor;
	background: #fefeff;
}
// Оболочка
#root {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	> main {
		flex: 1 1 auto;
	}
}

// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *container
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Отзывчивая
	[class*="container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
		}
	}
} @else {
	// По брейк-поинтам
	[class*="container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}
